@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_AdminLTE.cshtml";
}
<br>

@* <div class="row">
    <div class="col-lg-5">
        <p class="text-center">
        <img src="~/Imagenes/PODERJUDICIAL.png" height="110" width="135">
        </p>
    </div>
    <div class="col-lg-7">
        <p class="text-center">
            <br />
            <h1><u>SISGESAL</u></h1>
        </p>
    </div>
</div> *@

<div class="text-center">
    <p><img src="~/Imagenes/PODERJUDICIAL.png" height="220" width="270"></p>
    <h3><u>SISGESAL</u></h3>
    <br />
</div>