@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_AdminLTE.cshtml";
}
<br>

<div class="text-center">
    <p><img src="~/Imagenes/PODERJUDICIAL.png" height="220" width="270"></p>
    <h3><u>SISGESAL</u></h3>
    <br />


</div>
