@model SISGESAL.web.Models.CourtViewModel
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLTE.cshtml";
}

<hr />
<h1><b>EDITAR JUZGADO O TRIBUNAL</b></h1>
<h2>Departamento: <b class="text-purple">@Html.DisplayFor(model => model.Municipality!.Department!.Name)</b></h2>
<h2>Municipio: <b class="text-purple">@Html.DisplayFor(model => model.Municipality!.Name)</b></h2>

<hr />
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row"><label style="color:red"><b>@ViewBag.DuplicateMessage</b></label></div>
                    <div class="row"><label style="color:red"><b>@ViewBag.error</b></label></div>

                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="MunicipalityId" />
                    <input type="hidden" asp-for="CreationDate" />
                    <input type="hidden" asp-for="Creator" />

                    <div class="form-group">
                        <label asp-for="Name" class="control-label">Nombre del Municipio <b style="color:red">(*)</b></label>
                        <input asp-for="Name" class="form-control" style="text-transform: uppercase" />
                        <b><span asp-validation-for="Name" class="text-danger"></span></b>
                    </div>

                    <div class="form-group">
                        <label asp-for="Observation" class="control-label"></label>
                        <textarea asp-for="Observation" class="form-control" style="text-transform: uppercase" rows="3"></textarea>
                        <b><span asp-validation-for="Observation" class="text-danger"></span></b>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Guardar" class="btn btn-success" />
                        <a href="/Municipalities/Details/@Model.MunicipalityId" class="btn btn-dark" title="Regresar">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<hr />

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}