@model SISGESAL.web.Models.EditUserViewModel
@{
    ViewData["Title"] = "AsignDepot";
    Layout = "~/Views/Shared/_AdminLTE.cshtml";
}

<hr />
<h1><b>EDITAR</b></h1>
<hr />
<h4><b>USUARIO: </b><b class="text-red">@Html.DisplayFor(model => model.UserName)</b></h4>
<hr />
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row"><label style="color:red"><b>@ViewBag.DuplicateMessage</b></label></div>

                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="Creator" />
                    <input type="hidden" asp-for="CreationDate" />
                    <input type="hidden" asp-for="FullName" />
                    <input type="hidden" asp-for="DNI" />
                    <input type="hidden" asp-for="Occupation" />
                    <input type="hidden" asp-for="Email" />
                    <input type="hidden" asp-for="PhoneNumber" />
                    <input type="hidden" asp-for="Observation" />

                    <div class="form-group">
                        <label asp-for="DepartmentId" class="control-label">Departamento al que Pertenece </label>
                        <select asp-for="DepartmentId" asp-items="Model.Departments" class="form-control"></select>
                        <b><span asp-validation-for="DepartmentId" class="text-danger"></span></b>
                    </div>

                    <div class="form-group">
                        <label asp-for="MunicipalityId" class="control-label">Municipio al que Pertenece </label>
                        <select asp-for="MunicipalityId" asp-items="Model.Municipalities" class="form-control"></select>
                        <b><span asp-validation-for="MunicipalityId" class="text-danger"></span></b>
                    </div>

                    <div class="form-group">
                        <label asp-for="CourtId" class="control-label">Juzgado o Tribunal al que Pertenece @* <b style="color:red">(*)</b> *@</label>
                        <select asp-for="CourtId" asp-items="Model.Courts" class="form-control"></select>
                        <b><span asp-validation-for="CourtId" class="text-danger"></span></b>
                    </div>

                    <div class="form-group">
                        <label asp-for="DepotId" class="control-label">Almacén a Asignar <b style="color:darkorange">(*)</b></label>
                        <select asp-for="DepotId" asp-items="Model.Depots" class="form-control"></select>
                        <b><span asp-validation-for="DepotId" class="text-danger"></span></b>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Guardar" class="btn btn-success" />
                        <a asp-action="Index" class="btn btn-dark">Regresar a Usuario</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<hr />
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}