@model SISGESAL.web.Models.ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AdminLTE.cshtml";
}

<hr />
<h1><b>Resetear Contraseña</b></h1>
<hr />
<h4><b>USUARIO: </b><b class="text-red">@Html.DisplayFor(model => model.UserName)</b></h4>
<hr />
<h4 class="text-red">¿Estas Seguro de que quieres reiniciar la contraseña a este usuario?</h4>
<h4 class="text-red">Sí es así, escribe la nueva contraseña</h4>
<hr />
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row"><label style="color:red"><b>@ViewBag.DuplicateMessage</b></label></div>
                    <div class="row"><label style="color:red"><b>@ViewBag.Error</b></label></div>

                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="FullName" />
                    <input type="hidden" asp-for="DNI" />
                    <input type="hidden" asp-for="Occupation" />
                    <input type="hidden" asp-for="Observation" />
                    <input type="hidden" asp-for="Creator" />
                    <input type="hidden" asp-for="CreationDate" />
                    <input type="hidden" asp-for="DepotId" />
                    <input type="hidden" asp-for="UserName" />
                    <input type="hidden" asp-for="Email" />
                    <input type="hidden" asp-for="PhoneNumber" />

                    <div class="form-group">
                        <label asp-for="Password" class="control-label">Contraseña <b style="color:red">(*)</b></label>
                        <input asp-for="Password" class="form-control" />
                        <b><span asp-validation-for="Password" class="text-danger"></span></b>
                    </div>

                    <div class="form-group">
                        <label asp-for="PasswordConfirm" class="control-label">Confirmación de Contraseña <b style="color:red">(*)</b></label>
                        <input asp-for="PasswordConfirm" class="form-control" />
                        <b><span asp-validation-for="PasswordConfirm" class="text-danger"></span></b>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Reiniciar Contraseña" class="btn btn-warning" />
                        <a asp-action="Index" class="btn btn-dark">Regresar a Usuario</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<hr />
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}