@model SRIAGRALNOTIFICACIONES2024.web.Data.Entities.Depot

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLTE.cshtml";
}
<br />
<h1><b>AGREGAR ALMACÉN</b></h1>
<hr />
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row"><label style="color:red"><b>@ViewBag.DuplicateMessage</b></label></div>

                    <div class="form-group">
                        <label asp-for="Name" class="control-label">Nombre del Almacén <b style="color:red">(*)</b></label>
                        <input asp-for="Name" class="form-control" style="text-transform: uppercase" />
                        <b><span asp-validation-for="Name" class="text-danger"></span></b>
                    </div>

                    <div class="form-group">
                        <label asp-for="Observation" class="control-label"></label>
                        <textarea asp-for="Observation" class="form-control" style="text-transform: uppercase" rows="3"></textarea>
                        <b><span asp-validation-for="Observation" class="text-danger"></span></b>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Guardar" class="btn btn-success" />
                        <a class="btn btn-dark" title="Regresar" href="@Url.Action("Index","Depots")">Regresar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<hr />

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
