@model SISGESAL.web.Models.ArticleViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLTE.cshtml";
}

<hr />
<h1><b>EDITAR ARTÍCULO</b></h1>

<hr />
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <!-- EN ESTA VISTA TENEMOS QUE ESCONDER LAS DEMÁS PROPIEDADES SINO SE PIERDEN-->
                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="Status" />
                    <input type="hidden" asp-for="CreationDate" />
                    <input type="hidden" asp-for="Creator" />

                    <div class="form-group">
                        <label asp-for="Name" class="control-label">Nombre del Artículo <b style="color:red">(*)</b></label>
                        <input asp-for="Name" class="form-control" style="text-transform: uppercase" />
                        <b><span asp-validation-for="Name" class="text-danger"></span></b>
                    </div>

                    <div class="form-group">
                        <label asp-for="KindofArticleId" class="control-label">Tipo de Artículo <b style="color:red">(*)</b></label>
                        <select asp-for="KindofArticleId" asp-items="Model.KindofArticles" class="form-control"></select>
                        <b><span asp-validation-for="KindofArticleId" class="text-danger"></span></b>
                    </div>

                    <div class="form-group">
                        <label asp-for="Suppliers" class="control-label">Proveedor <b style="color:red">(*)</b></label>
                        <select asp-for="SupplierId" asp-items="Model.Suppliers" class="form-control"></select>
                        <b><span asp-validation-for="SupplierId" class="text-danger"></span></b>
                    </div>

                    <div class="form-group">
                        <label asp-for="TrademarkId" class="control-label">Marca de Artículo <b style="color:red">(*)</b></label>
                        <select asp-for="TrademarkId" asp-items="Model.Trademarks" class="form-control"></select>
                        <b><span asp-validation-for="TrademarkId" class="text-danger"></span></b>
                    </div>

                    <div class="form-group">
                        <label asp-for="Observation" class="control-label"></label>
                        <textarea asp-for="Observation" class="form-control" style="text-transform: uppercase" rows="2"></textarea>
                        <b><b><span asp-validation-for="Observation" class="text-danger"></span></b></b>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Guardar" class="btn btn-success" />
                        <a asp-action="Index" class="btn btn-dark">Ir a Artículos</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
