<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SISGESAL.web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SISGESAL.web.styles.css" asp-append-version="true" />
</head>
@* DESABILITAR RETROSESO TODO *@
<body class="hold-transition login-page" onload="deshabilitaRetroceso();">
    <div class="container">
        <main role="main" class="pb-6">
            @RenderBody()
        </main>
    </div>

    @*     <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - SRIAGRALNOTIFICACIONES2024.web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer> *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @* DESABILITAR EL RETROCESO TODO*@
    @*     <script type="text/javascript">
        function deshabilitaRetroceso() {
            window.location.hash = "no-back-button";
            window.location.hash = "Again-No-back-button" //chrome
            window.onhashchange = function () { window.location.hash = "no-back-button"; }
        }
    </script> *@

    <!-- Usuario Activo -->
    <script>
        const usuarioAutenticado = '@User.Identity!.IsAuthenticated' === 'True';
        const cantidadSegundosDeslogueo = 300 * 1000;
        const urlResetearCookie = '@Url.Action("ResetearCookie", "Home")';
        const cantidadSegundoRefrescarCookie = 300 * 1000;
        if (usuarioAutenticado) {
            function timerInactivo() {
                let timer;
                document.onmousemove = resetearTimer;
                document.onkeypress = resetearTimer;
                function resetearTimer() {
                    clearTimeout(timer);
                    timer = setTimeout(logout, cantidadSegundoDeslogueo)
                }
                function logout() {
                    const formularioLogout = document.getElementById('form-logout');
                    formularioLogout.submit();
                }
            }
            setInterval(resetearCookie, cantidadSegundosRefrescarCookie);
            async function resetearCookieAuth() {
                await fetch(urlResetearCookie, {
                    method: 'GET'
                });
            }
        }
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
